$japanese-font: 'M PLUS 1p', sans-serif;
$english-font: 'Source Sans Pro', sans-serif;
$border-color: #000;

nav h1{
  color: rgba(0,0,0,0);
  width: 100%;
  height: 10vh;
  background-image: url('/img/logo.png');
  //background-image: url('../img/logo.png');
  background-size: auto 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.page_title{
  font-size: 6vw;
  text-align: center;
  margin: 5vh 0 5vh;
}

/*-- form area --*/
.login{
  display: inline-block;
  width: 100%;
  color: #222;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all  0.5s ease;
  font-family: $japanese-font;

  label{
    display: inline-block;
    width: 90%;
    font-size: 4vw;
    line-height: 3em;
    margin-left: 5%;
  }
  input[type='text'],input[type='number'],input[type='password']{
    margin: 0 0 3vh 10%;
    width: 80%;
    font-size: 5vw;
    line-height: 7vw;
    height: 7vw;
  }
  input[type='datetime-local']{
    margin: 0 0 3vh 10%;
    width: 80%;
    font-size: 5vw;
    line-height: 6vw;
    height: 6vw;
  }
  button{
    display: inline-block;
    text-align: center;
    border-radius: 1.5em;
    width: 50%;
    height: 8vw;
    line-height: 8vw;
    overflow: hidden;
    background: #d50c2a;
    margin: 5vh 0 5vh 25%;
    color: #fff;
    font-size: 5vw;
    font-family: $english-font;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }
  .change{
    display: block;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 5vh;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
    a{
      text-decoration-line: underline;
    }
  }
  .change:hover{
    color: #47cb9c;
  }
}


.request_list{
  li{
    display: inline-block;
    padding: 2vh 0;
    width: 60%;
    margin: 0 20% 3vh;
    border: 1px solid $border-color;
    border-radius: 2vw;
    text-align: center;
    font-family: $japanese-font;
    h2{
      font-size: 5vw;
    }
    .time{
      font-size: 3.5vw;
    }
    .kashite_button{
      text-decoration: #d50c2a underline;
      color: #d50c2a;
      display: inline-block;
      height: 3vw;
      margin-top: 3vh;
      font-size: 3vw;
    }
    b{
      font-weight: 600;
    }
  }
}

.request_button{
  position: fixed;
  z-index: 200;
  right: 5vw;
  bottom: 5vw;
  text-decoration: none;
  color: #fff;
  border-radius: 15vw;
  background-color: #d50c2a;
  width: 15vw;
  height: 15vw;
  line-height: 15vw;
  text-align: center;
  font-size: 15vw;
  font-weight: bold;
}
